{% if checks|length > 0 %}
    <div class="table-responsive">
        <table class="table table-hover checker-results">
            <thead>
                <tr>
                    <th>Files</th>
                    <th class="text-center">Implementation</th>
                    <th class="text-center">Policy</th>
                    <th class="text-center">MediaInfo</th>
                    <th class="text-center">MediaTrace</th>
                    <th class="text-center">Status</th>
                </tr>
            </thead>
            <tbody>
            {% for check in checks %}
                <tr>
                    <th><span title="{{ check.getSource }}">{{ check.getSource | truncate(20) }}</span></th>
                    <td class="text-center">
                        {% if check.getConformance %}
                            <a href="#" data-toggle="modal" data-target="#modalConformance{{ loop.index }}" title="View report"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a><a href="#" class="results-dld" data-target="#modalConformance{{ loop.index }}" data-save-name="{{ check.filename }}_ImplementationReport.txt" title="Download report"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td>
                        {% if check.getPolicy %}
                            <span title="{{ check.getPolicyName }}">{{ check.getPolicyName | truncate(20) }}</span>
                            <p class="pull-right"><a href="#" data-toggle="modal" data-target="#modalPolicy{{ loop.index }}" title="View report"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a><a href="#" class="results-dld" data-target="#policyDld{{ loop.index }}" data-save-name="{{ check.filename }}_MediaConch.{{ check.getPolicyOutputFormat }}" title="Download report"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></a></p>
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if check.getInfo or selectForm == 'repository' %}
                            <a href="#" data-toggle="modal" data-target="#modalInfo{{ loop.index }}" title="View MediaInfo report"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a><a href="#" class="results-dld-info{% if not check.getInfo %}-ajax{% endif %}" data-target="#infoXml{{ loop.index }}" data-save-name="{{ check.filename }}_MediaInfo.xml" title="Download MediaInfo report"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if check.getTrace or selectForm == 'repository' %}
                            <a href="#" data-toggle="modal" data-target="#modalTrace{{ loop.index }}" title="View trace report"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a><a href="#" class="results-dld-trace{% if not check.getTrace %}-ajax{% endif %}" data-target="#traceXml{{ loop.index }}" data-save-name="{{ check.filename }}_MediaTrace.xml" title="Download trace report"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td class="success">
                        Analysed
                        <button type="button" class="btn btn-link result-close" title="Close result"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-link hidden" title="Reload result"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% for check in checks %}
            {% if check.getPolicy %}
                <div id="modalPolicy{{ loop.index }}" class="modal fade">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Policy report</h4>
                            </div>
                            <div class="modal-body">
                                {% if 'html' == check.getPolicyOutputFormat %}
                                    {{ check.getPolicy|raw }}
                                {% else %}
                                    {{ check.getPolicy|nl2br }}
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary report-dld" data-target="#policyDld{{ loop.index }}" data-save-name="{{ check.filename }}_MediaConch.{{ check.getPolicyOutputFormat }}">Download report</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="policyDld{{ loop.index }}" class="hidden">
                    {{ check.getPolicy|nl2br }}
                </div>
            {% endif %}

            {% if check.getConformance %}
                <div id="modalConformance{{ loop.index }}" class="modal fade">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Implementation report</h4>
                            </div>
                            <div class="modal-body">
                                <p>{{ check.getConformance|replace({' ': '&nbsp;'})|raw|nl2br }}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary report-dld" data-target="#modalConformance{{ loop.index }}" data-save-name="{{ check.filename }}_ImplementationReport.txt">Download report</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if check.getInfo or selectForm == 'repository' %}
                <div id="modalInfo{{ loop.index }}" class="modal fade">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">MediaInfo</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <i class="glyphicon glyphicon-search"></i><input type="text" value="" class="jstreeSearch" id="infoSearch{{ loop.index }}" placeholder="Search" />
                                    </div>
                                    <div class="col-md-12">
                                        <div id="info{{ loop.index }}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary report-dld-info{% if not check.getInfo %}-ajax{% endif %}" data-target="#infoXml{{ loop.index }}" data-save-name="{{ check.filename }}_MediaInfo.xml">Download MediaInfo report</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% if check.getInfo %}
                    <div id="infoXml{{ loop.index }}" class="hidden">
                        {{ check.getInfo.xml|nl2br }}
                    </div>
                {% endif %}
            {% endif %}

            {% if check.getTrace or selectForm == 'repository' %}
                <div id="modalTrace{{ loop.index }}" class="modal fade">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">MediaTrace</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <i class="glyphicon glyphicon-search"></i><input type="text" value="" class="jstreeSearch" id="traceSearch{{ loop.index }}" placeholder="Search" />
                                    </div>
                                    <div class="col-md-12">
                                        <div id="trace{{ loop.index }}"></div>
                                    </div>
                                    {# <div id="traceInfo{{ loop.index }}" class="col-md-4"></div> #}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary report-dld-trace{% if not check.getTrace %}-ajax{% endif %}" data-target="#traceXml{{ loop.index }}" data-save-name="{{ check.filename }}_MediaTrace.xml">Download trace report</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% if check.getTrace %}
                    <div id="traceXml{{ loop.index }}" class="hidden">
                        {{ check.getTrace.xml|nl2br }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
