{% trans_default_domain 'FOSUserBundle' %}

{% if app.user and not is_granted('ROLE_GUEST') %}
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
    {{ form_end(form) }}
{% else %}
    <p>Guest users cannot access this page</p>
    <p><a href="{{ path('app_user_guestregister') }}">Register your account to access this page</a></p>
{% endif %}
